.example-full-width {
  width: 100%;
}

.fields {
  margin: 24px;
}

.fa-google {
  font-size: 24px;
  margin-right: 8px;
}

.google{
  padding: 4px;
}

.or {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 20px 0 20px 0 !important;
} 

div span{
  background:#fff; 
  padding:0 10px; 
}


.reset{
  cursor: pointer;
}
