<div class="box mat-elevation-z6" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">
  <div></div>
  <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center">
    <img src="../../assets/img/icon.png" alt="" srcset="">
    <div class="mat-headline">To-do-list</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <!-- <div>Already have an account?</div> -->
    <!-- <button (click)="signIn()" mat-button>Sign in</button> -->
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sign Up"> 
      <app-signup></app-signup>
    </mat-tab>
    <mat-tab label="Sign In"> 
      <app-login></app-login>
    </mat-tab>
  </mat-tab-group>
</div>
