<div class="fields" fxLayoutAlign="space-between center" fxLayout="column" fxLayoutGap="8px">
    <form [formGroup]="signUpForm">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <!-- <button mat-icon-button matPrefix>
            <mat-icon>mail</mat-icon>
          </button> -->
          <input matInput formControlName="email" type='email' required>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
            <strong>Required</strong>
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Re-Enter your password</mat-label>
          <input matInput formControlName="reEnterPassword" [type]="hide2 ? 'password' : 'text'" required>
          <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="signUpForm.get('reEnterPassword')?.hasError('required')">
            <strong>Required</strong>
          </mat-error>
        </mat-form-field>
        <button [disabled]=signUpForm.invalid (click)="signUp()" class="example-full-width" color="primary" mat-flat-button>Sign Up</button>
        
    </form>
    <div class="or"><span>Or</span></div>
    <button (click)="signUpWithGoogle()" class="example-full-width google" color="primary" mat-stroked-button>
      <i class="fab fa-google"></i>Sign Up With Google
    </button>

  </div>